<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nexoit.mapper.UserMapper">

    <!--添加用户-->
    <insert id="addUser" parameterMap="User">
        insert into user(uid,username,password,age,gender,email)
 		values(#{uid},#{username},#{password},#{age},#{gender},#{email})
    </insert>

    <!--通过 id查询 用户-->
    <select id="findUserById" parameterType="Integer"  resultType="User">
        select * from user where uid = #{uid}
    </select>

    <!-- 查询所有用户 -->
    <select id="getUserList" resultType="User">
        select * from user
    </select>

    <!-- 根据用户名模糊查询用户 -->
    <select id="getUserListByName" parameterType="String" resultType="User">
        select * from user where username like "%"#{username}"%" limit 0,5
    </select>

</mapper>

